#about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background: #1c1c1c;
  height: auto;
  width: 100%;
  padding: 100px 150px;
  .logo {
    min-width: 45%;
    width: 65%;
  }
  .about-right {
    margin-left: 150px;
    h2 {
      font-size: 30px;
      line-height: 40px;
      width: 70%;
    }
    img {
      margin: 30px 0;
      width: 200px;
      height: 2px;
    }
    p {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 40px;
    }
    h5 {
      margin-bottom: 10px;
    }
    .about-content {
      display: flex;
      span {
        margin-top: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 50px;
        padding: 15px;
        border-radius: 100%;
        background: #e27866;
        border: 1px solid #e27866;
        margin-right: 25px;
      }
      .fa-eye,
      .fa-comment {
        font-size: 20px;
        color: white;
      }
    }
  }
}
