#about {
  @include flex-center-vertical-space-btw;
  color: $white;
  background: $granite;
  @include section-h-w;
  padding: 100px 150px;
  .logo {
    min-width: 45%;
    width: 65%;
  }
  .about-right {
    margin-left: 150px;
    h2 {
      font-size: $size30;
      line-height: $lineH40;
      width: 70%;
    }
    img {
      margin: 30px 0;
      width: 200px;
    }
    p {
      font-size: $size14;
      line-height: $lineH20;
      margin-bottom: 40px;
    }
    h5 {
      margin-bottom: 10px;
    }
    .about-content {
      display: flex;
      span {
        margin-top: 5%;
        @include flex-center;
        height: 50px;
        width: 50px;
        padding: 15px;
        border-radius: 100%;
        background: $peach;
        border: 1px solid $peach;
        margin-right: 25px;
      }
      .fa-eye,
      .fa-comment {
        font-size: $size20;
        color: $white;
      }
    }
  }
}
