footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1c1c1c;
  padding: 20px 150px;
  .footer-icons {
    display: flex;
    justify-content: space-between;
    width: 50%;

    i {
      font-size: 25px;
    }
  }
  p {
    text-align: end;
    width: 30%;
    font-size: 18px;
    color: #ffffff;
    opacity: 0.5;
  }
}

.fa-solid,
.fa-rss,
.fa-brands {
  font-size: 2em;
  color: #e27866;
  opacity: 0.653;
  &:hover {
    color: #ffffff;
    opacity: 0.6;
    text-shadow: 0 0 6px #e27866;
  }
}
