footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1c1c1c;
  position: relative;

  p {
    position: absolute;
    right: 150px;
    font-size: 18px;
    color: #ffffff;
    opacity: 0.5;
  }
}

.fa-solid,
.fa-rss,
.fa-brands {
  font-size: 2em;
  color: #e27866;
  opacity: 0.653;
}
.footer-icons {
  transform: scale(0.6);
  display: flex;
  gap: 180px;
  padding: 20px 20px;
}
