// Color
$white: #ffffff;
$black: #000000;
$granite: #1c1c1c;
$peach: #e27866;
$dirtyPeach: #a37169;
$aquaGreen: #41d395;
$darkGrey: #333333;
$blackGrey: #212121;
$lightGrey: #d8d8d8;
$grey: #86878b;
$skyBlue: #6696e2;
// Shadow
$box-shadow: 0 10px 10px #00000029;
//Tab background
$tabBackground: linear-gradient(
  270deg,
  rgba(101, 149, 226, 0.4),
  rgba(226, 120, 101, 0.4)
);
// Font size
$size10: 10px;
$size14: 15px;
$size20: 20px;
$size25: 25px;
$size30: 30px;
$size36: 36px;
$size90: 90px;

// Line height:
$lineH20: 20px;
$lineH30: 30px;
$lineH40: 40px;
