#white-section {
  height: auto;
  background: #ffffff;
  color: #212121;
  padding: 100px 150px;
  .awesome {
    text-align: center;
    h2 {
      font-size: 36px;
      line-height: 43px;
    }
    img {
      width: 65px;
      height: 2px;
      margin: 25px 0;
    }
    p {
      font-size: 14px;
      line-height: 20px;
      color: #86878b;
    }
  }

  .display {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 65px;
    gap: 100px;
    h3 {
      color: #333333;
      font-size: 20px;
      line-height: 24px;
      margin: 35px 0;
    }
    p {
      max-width: 290px;
      width: 100%;
      color: #86878b;
      font-size: 14px;
      line-height: 20px;
    }
    i {
      text-align: center;
      width: 50px;
      height: 50px;
      border: 1px solid #e27866;
      padding: 15px 0;
      font-size: 20px;
      border-radius: 100%;
    }
  }
}
