#white-section {
  @include section-h-w;
  background: $white;
  color: $blackGrey;
  padding: 100px 150px;
  .awesome {
    @include flex-center-vertical;
    flex-direction: column;
    h2 {
      font-size: $size36;
      line-height: $lineH40;
    }
    .coral-devider {
      margin: 0 50%;
      width: 65px;
      border: 1px solid $peach;
      background: $peach;
      margin: 25px 0;
    }
    p {
      font-size: $size14;
      line-height: $lineH20;
      color: $grey;
    }
  }

  .display {
    @include flex-center;
    text-align: center;
    margin-top: 65px;
    gap: 100px;
    & > div {
      align-self: flex-start;
    }

    h3 {
      color: $darkGrey;
      font-size: $size20;
      line-height: $lineH20;
      margin: 35px 0;
    }
    p {
      max-width: 290px;
      width: 100%;
      color: $grey;
      font-size: $size14;
      line-height: $lineH20;
    }
    i {
      text-align: center;
      width: 50px;
      height: 50px;
      border: 1px solid $peach;
      padding: 15px 0;
      font-size: $size20;
      border-radius: 100%;
    }
  }
}
